<div class="is-text-centered">
     <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>

<div class="row">
  <!-- <form [ngFormModel]="formModel" (ngSubmit)="onSubmit()" novalidate> -->
    <table border="1">
      <tr>
          <th>Data Gravação Remoção</th>
          <th>Participantes Remoção</th>
      </tr>

      <tr *ngFor="let obj of result | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }" >
          <td>
              <input  type="radio"
                      name="dataRemocaoGravacao"
                      (click)="mySubmit(obj.dataRemocaoGravacao)">
                      {{obj.dataRemocaoGravacao}}<br>
                      <!--  (click)="dataRemocaoGravacao = obj.dataRemocaoGravacao">-->
              <!-- <span [hidden]="!formModel.hasError('required', 'dataRemocaoGravacao')">Data de Remoção is required</span> -->
          </td>
          <td>{{obj.totalRemocao}}</td>
      </tr>
      <!-- <button type="button" (click)="gotoDetail()">Click Me!</button> -->
      <!-- <button type="submit">Submit</button> -->

    </table>
  <!-- </form> -->
</div>
