<div class="page-header text-center">
    <h1>NOMEAÇÕES</h1>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <td>edital</td>
    <td> ramo </td>
    <td> uf </td>

    <td> cargo </td>
    <td> cargo-descricao </td>
    <td> nome </td>

    <td> port </td>
    <td> nomeacao_dt </td>
    <td> exerccio </td>

    <td> vaga </td>
    <td> origem_vaga </td>
    <td> desprovimento </td>

    <td> lei_vaga </td>
    <td> dt_port_sem_efeito </td>
    <td> nr_portaria_sem_efeito </td>
    <td> FIELD16 </td>
  </tr>
  <tr ng-repeat="x in nomeacoes | startFrom:currentPage*pageSize | limitTo:pageSize">
    <td>{{ x.edital }}</td>
    <td>{{ x.ramo }}</td>
    <td>{{ x.uf }}</td>

    <td>{{ x.cargo }}</td>
    <td>{{ x.cargo-descricao }}</td>
    <td>{{ x.nome }}</td>

    <td>{{ x.port }}</td>
    <td>{{ x.nomeacao_dt }}</td>
    <td>{{ x.exerccio }}</td>

    <td>{{ x.vaga }}</td>
    <td>{{ x.origem_vaga }}</td>
    <td>{{ x.desprovimento }}</td>

    <td>{{ x.lei_vaga }}</td>
    <td>{{ x.dt_port_sem_efeito }}</td>
    <td>{{ x.nr_portaria_sem_efeito }}</td>
    <td>{{ x.FIELD16 }}</td>
  </tr>
</table>
<br>
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
    Next
</button>
