<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
   <display-name>produtos-web</display-name>
   
   <!-- http://localhost:8080/produtos -->
   
   <!-- Para o JETTY-->
   <!--
   <filter>
       <filter-name>cross-origin</filter-name>
       <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
   </filter>
   
   <filter-mapping>
       <filter-name>cross-origin</filter-name>
       <url-pattern>/*</url-pattern>
   </filter-mapping>
    -->
    
   <!-- Para o Tomcat -->
   <!-- 
   <filter>
	   <filter-name>CorsFilter</filter-name>
	   <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
   </filter>
	 
   <filter-mapping>
	   <filter-name>CorsFilter</filter-name>
	   <url-pattern>/*</url-pattern>
   </filter-mapping>
  -->
  
  <display-name>Alessandro Servlet</display-name>
  <description>
     Test Servlet
  </description>
  
  <servlet>
	<servlet-name>jersey-serlvet</servlet-name>
	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>com.sun.jersey.config.property.packages</param-name>
		<param-value>br.mp.mpf.impactoorcamento.sgp.app.rest</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
 </servlet>
	
 <servlet-mapping>
	<servlet-name>jersey-serlvet</servlet-name>
	<url-pattern>/ns/rest/*</url-pattern>
</servlet-mapping>
  
  <!-- Configuracaoo do filtro basico da aplicacaoo para o Spring Security -->
  <!-- O nome do filtro eh importante:
	  ele aponta para o nome de um bean de mesmo nome que serah criado internamente pelo
	  Spring Security para lidar com a seguranca de requisicoes. -->
<!--	  
  <filter>	  
	  <filter-name>springSecurityFilterChain</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  
  <filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
  </filter-mapping>
    -->
  
  <servlet>
    <servlet-name>project</servlet-name>
    <servlet-class>br.mp.mpf.impactoorcamento.sgp.core.server.ProjectServlet</servlet-class>
  </servlet>
    
  <servlet-mapping>
    	<servlet-name>project</servlet-name>
        <url-pattern>/project/*</url-pattern>
  </servlet-mapping>
  
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
	
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/module-core-spring.xml</param-value>
  </context-param>
   
   <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/SGPAdmDS</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
   </resource-ref>
  
     
   <welcome-file-list>  
	   <welcome-file>/public/index.html</welcome-file> 
   </welcome-file-list>
   
</web-app>