<form [ngFormModel]="formModel"
      (ngSubmit)="onSearch()"
      novalidate>

  <div class="form-group"
       [class.has-error]="formModel.hasError('required', 'dataInicial')">
    <label for="dataInicial"> Data Inicial:</label>
    <input id="dataInicial"
           placeholder="Data Inicial"
           class="form-control"
           type="date"
           [(ngModel)]="dataInicial"
           ngControl="dataInicial">
    <span class="help-block"
          [class.hidden]="!formModel.hasError('required', 'dataInicial')">
      Campo obrigatório
    </span>
  </div>

  <div class="form-group"
       [class.has-error]="formModel.hasError('required', 'dataFinal')">
    <label for="dataFinal"> Data Final:</label>
    <input id="dataFinal"
           placeholder="Data Final"
           class="form-control"
           type="date"
           [(ngModel)]="dataFinal"
           ngControl="dataFinal">
    <span class="help-block"
          [class.hidden]="!formModel.hasError('required', 'dataFinal')">
      Campo obrigatório
    </span>
  </div>

  <div class="form-group">
    <button type="submit"
            class="btn btn-primary btn-block">Pesquisar Concursados</button>
  </div>
</form>

<div class="row" *ngIf="loading == true">
  <loading-indicator></loading-indicator>
</div>

<div class="row" *ngIf="loading == false">
  <div class="row" *ngIf="total > 0">
    <div class="is-text-centered">
        <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
    </div>

    <div class="row">
        <table border="1">
        <tr>
            <th>Vaga</th>
            <th>Edital</th>
            <th>Cargo</th>
            <th>Data de Nomeação</th>
            <th>Data de Exercício</th>
            <th>Origem da Vaga</th>
        </tr>

        <tr *ngFor="let obj of result | async | paginate: { id: 'server', itemsPerPage: 20, currentPage: p, totalItems: total }">
            <td (click)="gotoDetail(obj)"><H2>{{obj.numeroVaga}}</H2></td>
            <td>{{obj.numeroEdital}}</td>
            <td>{{obj.cargoDescricao}}</td>
            <td>{{obj.dataNomeacao}}</td>
            <td>{{obj.dataExercicio}}</td>
            <td>{{obj.origemVaga}}</td>
        </tr>

        </table>
    </div>
  </div>  
</div>




<!-- </div> -->
