<!-- The form controls for the various config parameters -->
<div class="columns">
    <div class="column">
        <label class="control">Filter items
            <input type="text" class="input" placeholder="filter" [(ngModel)]="filter">
        </label>
    </div>
</div>
<div class="columns">
    <div class="column">
        <label class="control">itemsPerPage
            <input type="number" class="input" min="0" [(ngModel)]="config.itemsPerPage">
        </label>
    </div>
    <div class="column">
        <label class="control">currentPage
            <input type="number" class="input" min="0" [(ngModel)]="config.currentPage">
        </label>
    </div>
    <div class="column">
        <label class="control">maxSize
            <input type="number" class="input" min="5" max="100" [(ngModel)]="maxSize">
        </label>
    </div>
    <div class="column control checkboxes">
        <label class="checkbox">
            <input type="checkbox" class="checkbox" [(ngModel)]="directionLinks">
            directionLinks
        </label><br>
        <label class="checkbox">
            <input type="checkbox" class="checkbox" [(ngModel)]="autoHide">
            autoHide
        </label>
    </div>
</div>

<!-- here is the actual pagination code -->
<div class="is-text-centered">
    <pagination-controls [id]="config.id"
                         [maxSize]="maxSize"
                         [directionLinks]="directionLinks"
                         [autoHide]="autoHide"
                         (pageChange)="onPageChange($event)"></pagination-controls>
</div>


<div class="row">
    <table border="1">
    <tr>
        <th>vaga</th>
        <th>edital</th>
        <th>ramo</th>
        <th>uf</th>
        <th>cargo</th>
        <th>Cargo Decricao</th>
        <th>nome</th>
        <th>port</th>
        <th>nomeacao_dt</th>
        <th>exercício</th>
        <th>origem_vaga</th>
        <th>desprovimento</th>
        <th>lei_vaga</th>
        <th>dt_port_sem_efeito</th>
        <th>nr_portaria_sem_efeito</th>
        <th>FIELD16</th>
    </tr>

    <tr *ngFor="#obj of result | stringFilter: filter  | paginate: config" (click)="gotoDetail(obj)">
        <td><H1>{{obj.vaga}}</H1></td>
        <td>{{obj.edital}}</td>
        <td>{{obj.ramo}}</td>
        <td>{{obj.uf}}</td>
        <td>{{obj.cargo}}</td>
        <td>{{obj.cargoDescricao}}</td>
        <td>{{obj.nome}}</td>
        <td>{{obj.port}}</td>
        <td>{{obj.nomeacaoData}}</td>
        <td>{{obj.dataExercicio}}</td>
        <td>{{obj.origemVaga}}</td>
        <td>{{obj.desprovimento}}</td>
        <td>{{obj.leiVaga}}</td>
        <td>{{obj.dataPortariaSemEfeito}}</td>
        <td>{{obj.numeroPortariaSemEfeito}}</td>
        <td>{{obj.field16}}</td>
    </tr>
    
    </table>
</div>




