<div class="is-text-centered">
     <!-- <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div> -->
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>

<div class="row">
    <table border="1">
    <tr>
        <th>inscricao</th>
        <th>numeroEdital</th>
        <th>ufNomeacao</th>
        <th>cargo</th>
        <th>cargoDescricao</th>
        <th>nome</th>
        <th>numeroPortaria</th>
        <th>dataNomeacao</th>
        <th>dataExercicio</th>
        <th>numeroVaga</th>
        <th>origemVaga</th>
        <th>dataDesprovimento</th>
        <th>leiVaga</th>
    </tr>
    
    <tr *ngFor="let obj of result | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }" (click)="gotoDetail(obj)">
        <td><H1>{{obj.inscricao}}</H1></td>
        <td>{{obj.numeroEdital}}</td>
        <td>{{obj.ufNomeacao}}</td>
        <td>{{obj.cargo}}</td>
        <td>{{obj.cargoDescricao}}</td>
        <td>{{obj.nome}}</td>
        <td>{{obj.numeroPortaria}}</td>
        <td>{{obj.dataNomeacao}}</td>
        <td>{{obj.dataExercicio}}</td>
        <td>{{obj.numeroVaga}}</td>
        <td>{{obj.origemVaga}}</td>
        <td>{{obj.dataDesprovimento}}</td>
        <td>{{obj.leiVaga}}</td>
    </tr>
    
    </table>
</div>




