<div class="is-text-centered">
     <!-- <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div> -->
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>

<div class="row">
    <table border="1">
    <tr>
        <th>vaga</th>
        <th>edital</th>
        <th>ramo</th>
        <th>uf</th>
        <th>cargo</th>
        <th>Cargo Decricao</th>
        <th>nome</th>
        <th>port</th>
        <th>nomeacao_dt</th>
        <th>exercício</th>
        <th>origem_vaga</th>
        <th>desprovimento</th>
        <th>lei_vaga</th>
        <th>dt_port_sem_efeito</th>
        <th>nr_portaria_sem_efeito</th>
        <th>FIELD16</th>
    </tr>
    
    <tr *ngFor="let obj of result | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }" (click)="gotoDetail(obj)">
        <td><H1>{{obj.vaga}}</H1></td>
        <td>{{obj.edital}}</td>
        <td>{{obj.ramo}}</td>
        <td>{{obj.uf}}</td>
        <td>{{obj.cargo}}</td>
        <td>{{obj.cargoDescricao}}</td>
        <td>{{obj.nome}}</td>
        <td>{{obj.port}}</td>
        <td>{{obj.nomeacaoData}}</td>
        <td>{{obj.dataExercicio}}</td>
        <td>{{obj.origemVaga}}</td>
        <td>{{obj.desprovimento}}</td>
        <td>{{obj.leiVaga}}</td>
        <td>{{obj.dataPortariaSemEfeito}}</td>
        <td>{{obj.numeroPortariaSemEfeito}}</td>
        <td>{{obj.field16}}</td>
    </tr>
    
    </table>
</div>




