<div class="row">
    <table border="1">
    <tr>
        <th>numeroVaga</th>
        <th>cargoDescricao</th>
        <th>ramoOrigem</th>
        <th>ufOrigem</th>
        <th>unidadeOrigem</th>
        <th>ramoDestino</th>
        <th>ufDestino</th>
        <th>unidadeDestino</th>
        <th>lei</th>
        <th>motivo</th>
        <th>ultimoOcupante</th>
    </tr>

    <tr>
        <td><H1>{{obj?.numeroVaga}}</H1></td>
        <td>{{obj?.cargoDescricao}}</td>
        <td>{{obj?.ramoOrigem}}</td>
        <td>{{obj?.ufOrigem}}</td>
        <td>{{obj?.unidadeOrigem}}</td>
        <td>{{obj?.ramoDestino}}</td>
        <td>{{obj?.ufDestino}}</td>
        <td>{{obj?.unidadeDestino}}</td>
        <td>{{obj?.lei}}</td>
        <td>{{obj?.motivo}}</td>
        <td>{{obj?.ultimoOcupante}}</td>
    </tr>

    </table>
</div>
