<div class="row">
    <table border="1">
            <tr> 
                <th><H1>Vaga</H1></th>   
                <td><H1>{{obj?.vaga}}</H1></td>
            </tr>  

            <tr>
                <th>edital</th>
                <td>{{obj?.edital}}</td>
            </tr>    
            <tr>
                <th>ramo</th>
                <td>{{obj?.ramo}}</td>
            </tr>    
            <tr>
                <th>uf</th>        
                <td>{{obj?.uf}}</td>
            </tr>    
            <tr>
                <th>cargo</th>    
                <td>{{obj?.cargo}}</td>
            </tr>    
            <tr>
                <th>Cargo Decricao</th>        
                <td>{{obj?.cargoDescricao}}</td>
            </tr>    
            <tr>
                <th>nome</th>    
                <td>{{obj?.nome}}</td>
            </tr>    
            <tr>    
                <th>port</th>
                <td>{{obj?.port}}</td>
            </tr>    
            <tr> 
                <th>nomeacao_dt</th>   
                <td>{{obj?.nomeacaoData}}</td>
            </tr>    
            <tr>    
                <th>exercicio</th>
                <td>{{obj?.dataExercicio}}</td>
            </tr>    
              
            <tr>
                <th>origem_vaga</th>
                <td>{{obj?.origemVaga}}</td>
            </tr>    
            <tr>  
                <th>desprovimento</th>  
                <td>{{obj?.desprovimento}}</td>
            </tr>    
            <tr>  
                <th>lei_vaga</th>  
                <td>{{obj?.leiVaga}}</td>
            </tr>    
            <tr>  
                <th>dt_port_sem_efeito</th>  
                <td>{{obj?.dataPortariaSemEfeito}}</td>
            </tr>    
            <tr>   
                <th>nr_portaria_sem_efeito</th> 
                <td>{{obj?.numeroPortariaSemEfeito}}</td>
            </tr>    
            <tr>
                <th>FIELD16</th>    
                <td>{{obj?.field16}}</td>
            </tr>
    </table>
</div>


