<div class="container">
  <div class="row">
    <div class="col-md-3">
     <!-- Alessandro -->
     <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

            <!-- Sidebar -->
            <div id="sidebar-wrapper">

              <ul class="sidebar">
                <li class="sidebar-list">
                  <a [routerLink]="['Home']">Inicial</a>
                </li>                

                <li class="sidebar-list">
                  <a [routerLink]="['/HomeFormNew']">Form NEW <span class="menu-icon fa fa-pencil-square-o"></span></a>
                </li>

                <li class="sidebar-list">
                  <a [routerLink]="['/Nomeacao']">Nomeações <span class="menu-icon fa fa-table"></span></a>
                </li>

                <li class="sidebar-list">
                  <a [routerLink]="['/NomeacaoPaging']">Nomeações Paginação/Service<span class="menu-icon fa fa-table"></span></a>
                </li>

                <li class="sidebar-list">
                  <a [routerLink]="['/NomeacaoPagingAll']">Nomeações Paginação/Filtro <span class="menu-icon fa fa-table"></span></a>
                </li>

                <li class="sidebar-list">
                  <a [routerLink]="['/HomeForm']">Varios Formularios <span class="menu-icon fa fa-pencil-square-o"></span></a>
                </li>

                <li class="sidebar-list">
                  Dashboard
                </li>

              </ul>

            </div>
            <!-- End Sidebar -->

      </div><!-- End Page Wrapper -->

    </div>

    <div class="col-md-9">
    	<!--area de dados -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
